<button type="button" class="btn btn-secondary mb-3 bg-primary" (click)="setShowForm()"> Add New User</button>
<div class="card mb-3" *ngIf="isExpanded">
  <div class="card-body">
    <h3>New User Form</h3>
    <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">
      <div class="mb-3">
        <label for="firstname" class="form-label">Firstname</label>
        <input type="text" class="form-control" [(ngModel)]="formUser.firstName" id="firstname" name="firstName"
               required minlength="2" #userFirstName="ngModel"
               [ngClass]="{'is-invalid':userFirstName.errors && userFirstName.touched}">
        <div [hidden]="!userFirstName.errors?.['required']" class="invalid-feedback">
          First name required
        </div>
        <div [hidden]="!userFirstName.errors?.['minlength']" class="invalid-feedback">
          Must be at least 2 characters
        </div>
      </div>
      <div class="mb-3">
        <label for="lastname" class="form-label">Lastname</label>
        <input type="text" class="form-control" id="lastname" [(ngModel)]="formUser.lastName" name="lastName"
               required minlength="2" #userLastName="ngModel"
               [ngClass]="{'is-invalid': userLastName.errors && userLastName.touched}">
        <div [hidden]="!userLastName.errors?.['required']" class="invalid-feedback">
          Last name required
        </div>
        <div [hidden]="!userLastName.errors?.['minlength']" class="invalid-feedback">
          Must be at least 2 characters
        </div>
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="text" class="form-control" id="email" [(ngModel)]="formUser.email" name="email" required
               pattern="^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$"
               #userEmail="ngModel" [ngClass]="{'is-invalid': userEmail.errors && userEmail.touched}">
        <div [hidden]="!userEmail.errors?.['required']" class="invalid-feedback">
          Last name required
        </div>
        <div [hidden]="!userEmail.errors?.['pattern']" class="invalid-feedback">
          Mail is not valid
        </div>
      </div>
      <div class="d-grid gap-1 col-6 mx-auto">
        <button type="submit" class="btn btn-primary" [disabled]="!userForm.form.valid">Add User</button>
      </div>
    </form>
  </div>
</div>

<ul class="list-unstyled" *ngIf="users.length > 0; else noUsers">
  <li class="card mb-2" *ngFor="let user of users" [class.bg-light]="user.isActive">
    <div class="card-body">
      <h3>{{user.firstName}} {{this.user.lastName}}
        <button class="btn btn-secondary" (click)="setShowExtended(user)"><i [ngClass]="setExtendIconClasses(user)"></i>
        </button>
      </h3>
      <ul class="list-group" *ngIf="user.hide">
        <li class="list-group-item">Email: {{user.email}}</li>
        <li class="list-group-item">Joined: {{user.registered | date:'shortDate'}}</li>
      </ul>
    </div>
  </li>
</ul>

<ng-template #noUsers>
  <h2>No Users Found</h2>
</ng-template>

